html {
    overflow-x: hidden
}

header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1100;
    width: 100%;
}

.header-inner {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.header-logo {
    flex-shrink: 0;
    width: 65px;
}

.desktop-menu {
    display: flex;
}

.gnb a,
.lang-switch a {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 12px 10px;
    border-radius: 8px;
}

.gnb a:hover,
.lang-switch a:hover {
    background-color: #f2f4f6;
    color: #007bff;
}

.gnb ul {
    display: flex;
    gap: 8px;
    align-items: center;
    white-space: nowrap;
}

.gnb a {
    color: #4e5968;
}

.lang-switch {
    margin-left: 44px;
    white-space: nowrap;
}

.lang-switch a,
.lang-switch span {
    color: #B0B8C1;
}

.lang-switch .active {
    color: #333D4B;
}

.mobile-top,
.mobile-menu {
    display: none;
}

.download-btn {
    font-size: 12px;
    background-color: #3182f6;
    color: #f9fafb;
    padding: 8px 11px;
    border-radius: 24px;
    font-weight: 500;
    margin-right: 12px;
}

main {
    margin-top: 60px;
}

.container1 {
    text-align: center;
    width: 100%;
    min-height: calc(100svh - 60px);
    background: linear-gradient(to bottom, white 0%, transparent 50%),
        url('/assets/img/new_main.png') center / cover no-repeat;
    position: relative;
    padding: 0 29px;
}

.container1 h1 {
    font-size: 66px;
    max-width: 600px;
    display: inline-block;
    margin: 100px 0 50px 0;
}

.mobile-break {
    display: none;
}

.container1-btn-area {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.cont1-dw-btn {
    display: none;
}

.app-store-btn {
    display: flex;
    gap: 6px;
    font-size: 17px;
    padding: 11px 22px;
    background-color: #000C1ECC;
    color: #fff;
    border-radius: 7px;
    font-weight: 600;
}

.app-store-btn:hover {
    background-color: #37455bde;
}

.app-store-btn img {
    width: 24px;
    height: 24px;
}

.scroll-down-btn {
    color: #141725;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    cursor: pointer;
}

.scroll-down-btn svg {
    width: 50px;
    opacity: 0.3;
    animation:
        arrow-bob 0.5s ease-in-out infinite alternate,
        arrow-fade 2s ease-in-out infinite;
    transform: translateY(0);
}

.scroll-down-btn svg path {
    fill: currentColor;
}

.container2 {
    background-color: #F9FAFB;
    text-align: center;
    padding: 200px 29px;
}

.container2 h1 {
    color: #191F28;
    font-size: 32px;
    font-weight: 700;
}

.container3 {
    height: 1687px;
    box-sizing: border-box;
    padding: 250px 29px 165px 29px;

}

.container-inner {
    max-width: 1048px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.sub-title {
    color: #3282F6;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
}

.cont-title h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #191F28;
}

.phone {
    position: absolute;
    width: 600px;
}

.cont3-img1 {
    top: -20px;
    right: -118px
}

.cont3-img2 {
    top: 330px;
    left: -118px;
}

.phone_screen {
    position: absolute;
    top: 100px;
    left: 128px;
    border-radius: 30px;
    overflow: hidden;
}

.phone_screen img {
    width: 342px;
}

.phone_frame {
    position: absolute;
    width: 600px;
}

.cont3-text {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: #333D4B;
    position: absolute;
    right: 0;
    bottom: 166px;
}


.container4 {
    background-color: #F9FAFB;
    padding: 250px 29px;
}
.container4 .cont-title {
    margin-bottom: 80px;
}
.container4 .content-box {
    margin-bottom: 150px;
}
.content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-box:nth-child(2) {
    flex-direction: row-reverse;
}
.content-title { 
    margin-bottom: 8px; 
    display: flex;
    gap: 4px;
    align-items: center;
}
.content-title svg {
    width: 24px;
    height: 24px;
}
.content-title h2 {
    font-size: 20px;
    font-weight: 600;
    color: #3182f6;
}
.content-text-large {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: #333D4B;
    margin-bottom: 20px;
    white-space: nowrap;
}
.content-text-small {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: #6b7684;
}
.content-box-media img{
    width: 509px;
}

.container5 {
    padding: 250px 0;
}
.container5 .container-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a b"
        "c b";
}
.cont5-title { grid-area: a; }
.cont5-text-area { 
    grid-area: c; 
    align-self: end; 
    transform: translateY(-100px);
}
.cont5-phone {
    grid-area: b;

    width: 600px;
    height: 936.2px;
    position: relative;

    transform: translate(70px, -40px);
}
.cont5-phone_frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#lottie-container {
    width: 342px;
    position: absolute;
    top: 100px;
    left: 128px;
    border-radius: 40px;
    overflow: hidden;
}
.cont5-text-area h1 {
    color: #333D4B;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 30px;
}

.cont5-text-area h1 span:nth-of-type(1) {
  color: #8B95A1;
}

.cont5-text-area h1 span:nth-of-type(2) {
  color: #D1D6DB;
}
.cont5-text {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: #333D4B;
}


@keyframes arrow-bob {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(12px);
    }
}

@keyframes arrow-fade {

    0%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 0.3;
    }
}

@media screen and (max-width: 740px) {

    .header-inner {
        padding: 0 24px;
        position: relative;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-top {
        display: flex;
        align-items: center;
    }

    .menu-btn {
        padding: 4px 8px 0 8px;
        cursor: pointer;
    }

    .mobile-top .line-icon {
        width: 24px;
    }

    .menu-btn .icon-close {
        display: none;
    }

    .is-menu-open .menu-btn .icon-hamburger {
        display: none;
    }

    .is-menu-open .menu-btn .icon-close {
        display: inline;
    }

    .mobile-menu {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        z-index: 1000;
    }

    .mobile-menu-inner a {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.02em;
        padding: 18px 24px;
        color: #4e5968;
        display: block;
    }

    .mobile-menu-inner a:hover {
        background-color: #f2f4f6;
        color: #007bff;
    }

    .mobile-lang {
        display: flex;
        align-items: center;
    }

    .mobile-lang a,
    .mobile-lang span {
        color: #B0B8C1;
    }

    .mobile-lang a.active {
        color: #4e5968;
    }



    .container1 h1 {
        font-size: 33px;
        margin: 20px 0;
    }

    .mobile-break {
        display: block;
    }

    .cont1-dw-btn {
        display: block;
        font-size: 16px;
        padding: 11px 16px;
        font-weight: 600;
    }

    .app-store-btn {
        display: none;
    }

    .container2 {
        padding: 100px 20px;
    }

    .container2 h1 {
        font-size: 22px;
        font-weight: 600;
    }

    .sub-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .container3 {
        height: fit-content;
        padding: 100px 20px;
        view-timeline-name: --cont3;
        view-timeline-axis: block;

    }

    .container-inner {
        position: initial;
    }

    .cont3-title h1 {
        font-size: 28px;
    }

    .cont3-pin {
        position: sticky;
        top: 0;
        height: 586px;
    }

    .cont3-img-area {
        white-space: nowrap;
        font-size: 0;
        will-change: transform;
        animation: cont3-slide linear both;
        animation-timeline: --cont3;
        animation-range: cover 0% 100%;
    }

    .phone {
        position: relative;
        display: inline-block;
        vertical-align: top;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: 375px;
    }

    .cont3-img2 {
        transform: translateX(-110px);
    }

    .phone_screen {
        top: 60px;
        left: 80px;
    }

    .phone_screen img {
        width: 215px;
    }

    .phone_frame {
        width: 375px;
    }

    @keyframes cont3-slide {
        from {
            transform: translateX(100px);
        }

        to {
            transform: translateX(-100px);
        }
    }


    @supports not (animation-timeline: view()) {
        .cont3-pin {
            position: static;
            height: auto;
        }

        .cont3-img-area {
            animation: none;
            overflow-x: auto;
        }
    }

    .cont3-text {
        position: relative;
        font-size: 17px;
        top: auto; left: auto; right: auto; bottom: auto;
        transform: translateY(50px);
    }
    .cont-title h1 {
        font-size: 28px;
    }

    .container4 {
        background-color: #F9FAFB;
        padding: 100px 20px;
    }
    .container4 .cont-title {
        margin-bottom: 60px;
    }
    .content-title svg {
        width: 16px;
        height: 16px;
    }
    .content-title h2 {
        font-size: 16px;
    }
    .content-text-large {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .content-text-small {
        font-size: 15px;
    }
    .content-box {
        flex-direction: column;
        align-items: stretch;
    }
    .content-box:nth-child(2) {
        flex-direction: column;
    }
    .content-box-text { 
        align-self: flex-start;
        transform: translateX(38px);
    }
    .content-box-media { align-self: center; }
    .container4 .content-box {
        margin-bottom: 60px;
    }


    .container5 .container-inner {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "a"
            "b"
            "c";
    }

    
    .cont5-phone {
        width: 375px;
        height: 585.12px;
        transform: initial;
    }
    #lottie-container {
        width: 215px;
        top: 60px;
        left: 80px;
        border-radius: 30px;
    }
}