header {
    height: 60px;
    background-color: antiquewhite;
}
.header-inner {
    max-width: 1140px;
    height: 100%;
    background-color: pink;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}
.header-logo {
    flex-shrink: 0;
    width: 65px;
}
.desktop-menu {
    display: flex;
}

.gnb a,
.lang-switch a
{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 12px 10px;
    border-radius: 8px;
}
.gnb a:hover,
.lang-switch a:hover {
    background-color: #f2f4f6;
    color: #007bff;
}
.gnb ul {
    display: flex;
    gap: 8px;
    align-items: center;
    white-space: nowrap;
}
.gnb a {
    color: #4e5968;
}
.lang-switch {
    margin-left: 44px;
    white-space: nowrap;
}

.lang-switch a,
.lang-switch span {
    color: #B0B8C1;
}
.lang-switch .active {
    color: #333D4B;
}
.mobile-top,
.mobile-menu {
    display: none;
}

@media screen and (max-width: 638px) {
    .header-inner {
        background-color: aqua;
        padding: 0 24px;
        position: relative;
    }
    .desktop-menu {
        display: none;
    }
    .mobile-top {
        display: flex;
        align-items: center;
    }
    .mobile-top .download-btn {
        font-size: 12px;
        background-color: #3182f6;
        color: #f9fafb;
        padding: 8px 11px;
        border-radius: 24px;
        font-weight: 500;
        margin-right: 12px;
    }
    .menu-btn {
        padding: 4px 8px 0 8px;
        cursor: pointer;
    }
    .mobile-top .line-icon {
        width: 24px;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #ffffff;
    }
    .mobile-menu-inner a {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.02em;
        padding: 18px 24px;
        color: #4e5968;
        display: block;
    }
    .mobile-menu-inner a:hover {
    background-color: #f2f4f6;
    color: #007bff;
    }
    .mobile-lang {
        display: flex;
        align-items: center;
    }
    .mobile-lang a,
    .mobile-lang span {
        color: #B0B8C1;
    }
    .mobile-lang a.active {
        color: #4e5968;
    }
}