header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1100;
    width: 100%;
}
.header-inner {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}
.header-logo {
    flex-shrink: 0;
    width: 65px;
}
.desktop-menu {
    display: flex;
}

.gnb a,
.lang-switch a
{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 12px 10px;
    border-radius: 8px;
}
.gnb a:hover,
.lang-switch a:hover {
    background-color: #f2f4f6;
    color: #007bff;
}
.gnb ul {
    display: flex;
    gap: 8px;
    align-items: center;
    white-space: nowrap;
}
.gnb a {
    color: #4e5968;
}
.lang-switch {
    margin-left: 44px;
    white-space: nowrap;
}

.lang-switch a,
.lang-switch span {
    color: #B0B8C1;
}
.lang-switch .active {
    color: #333D4B;
}
.mobile-top,
.mobile-menu {
    display: none;
}
main {
    margin-top: 60px;
}
.container1 {
    text-align: center;
    width: 100%;
    min-height: calc(100svh - 60px);
    background: linear-gradient(to bottom, white 0%, transparent 50%),
                url('/assets/img/new_main.png') center / cover no-repeat;
    position: relative;
}
.container1 h1 {
    font-size: 66px;
    max-width: 600px;
    display: inline-block;
    margin: 170px 0 50px 0;
}
.container1-btn-area {
    display: flex;
    gap: 4px;
     justify-content: center;
}
.download-btn {
    display: none;
}
.app-store-btn {
    display: flex;
    gap: 6px;
    font-size: 17px;
    padding: 11px 22px;
    background-color: #000C1ECC;
    color: #fff;
    border-radius: 7px;
    font-weight: 600;
}
.app-store-btn:hover {
    background-color: #37455bde;
}

.app-store-btn img {
    width: 24px;
    height: 24px;
}

.scroll-down-btn { 
    color:#141725;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}
.scroll-down-btn svg {
    width: 50px;
    opacity: 0.3;
    animation: 
        arrow-bob 0.5s ease-in-out infinite alternate,
        arrow-fade 2s ease-in-out infinite;
    transform: translateY(0);
}
.scroll-down-btn svg path{ 
    fill: currentColor; 
}
@keyframes arrow-bob {
    from { transform: translateY(0); }
    to { transform: translateY(12px); }
}
@keyframes arrow-fade {
    0%, 100% {opacity: 0;}
    25%, 75% {opacity: 0.3;}
}

@media screen and (max-width: 638px) {

    .header-inner {
        padding: 0 24px;
        position: relative;
    }
    .desktop-menu {
        display: none;
    }
    .mobile-top {
        display: flex;
        align-items: center;
    }
    .mobile-top .download-btn {
        font-size: 12px;
        background-color: #3182f6;
        color: #f9fafb;
        padding: 8px 11px;
        border-radius: 24px;
        font-weight: 500;
        margin-right: 12px;
    }
    .menu-btn {
        padding: 4px 8px 0 8px;
        cursor: pointer;
    }
    .mobile-top .line-icon {
        width: 24px;
    }

    /* 아이콘 토글 */
    .menu-btn .icon-close { display: none; }
    .is-menu-open .menu-btn .icon-hamburger { display: none; }
    .is-menu-open .menu-btn .icon-close { display: inline; }

    header {
        position: sticky;
        top: 0;
        z-index: 1100;
        background-color: #ffffff;
    }
    .mobile-menu {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        z-index: 1000;
    }
    .mobile-menu-inner a {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.02em;
        padding: 18px 24px;
        color: #4e5968;
        display: block;
    }
    .mobile-menu-inner a:hover {
    background-color: #f2f4f6;
    color: #007bff;
    }
    .mobile-lang {
        display: flex;
        align-items: center;
    }
    .mobile-lang a,
    .mobile-lang span {
        color: #B0B8C1;
    }
    .mobile-lang a.active {
        color: #4e5968;
    }

}